.modal-header
	%button.close{ type:'button', data: {dismiss: 'modal'} }
		%span{aria: { hidden: 'true'}}
			&times;
	%h4.modal-title Items
= render 'form'

.col-lg-12
	= link_to raw('<span class="fa fa-home"></span> Home'), root_path, class: "btn btn-primary"